## .NET
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
.vscode/
*.DotSettings.user

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Storage directories
storage/
*.db
*.db-shm
*.db-wal

## Rider
.idea/

## Visual Studio Code
.vscode/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## Configuration overrides
appsettings.*.local.json
